[
 {server, [
           {cacertfile, "/home/lbakken/issues/RMQFPAS/91/certs/ca_certificate.pem"},
           {certfile,   "/home/lbakken/issues/RMQFPAS/91/certs/server_PROKOFIEV_certificate.pem"},
           {keyfile,    "/home/lbakken/issues/RMQFPAS/91/certs/server_PROKOFIEV_key.pem"},
           {verify, verify_peer},
           {fail_if_no_peer_cert, true},
           {versions, ['tlsv1.3']}
          ]},
 {client, [
           {cacertfile, "/home/lbakken/issues/RMQFPAS/91/certs/ca_certificate.pem"},
           {certfile,   "/home/lbakken/issues/RMQFPAS/91/certs/client_PROKOFIEV_certificate.pem"},
           {keyfile,    "/home/lbakken/issues/RMQFPAS/91/certs/client_PROKOFIEV_key.pem"},
           {verify, verify_peer},
           {versions, ['tlsv1.3']}
          ]}
].
